<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <style>
            body {
              background-color: rgb(246, 216, 246);
            }
          </style>
    </head>
    <body>
       <h1> Enter Before Bed</h1>
       <form action="/sleep/<%=sleep._id%>?_method=PUT" method="POST">
        <label for="asleepTime">What time are you going to bed:</label>
        <input type="text" name="asleepTime" value="<%=sleep.asleepTime%>" />
        <label for="nap">Did you nap today:</label>
        <input type="text" name="nap" value="<%=sleep.nap%>" />
        <label for="numberOCaffeineDrinks">How Many Caffinated Beverages did you drink today?:</label>
        <input type="text" name="numberOCaffeineDrinks" value="<%=sleep.numberOCaffeineDrinks%>" />
        <label for="numberOfMinutesOfExercise">How Many Minutes did you excercise:</label>
        <input type="text" name="numberOfMinutesOfExercise" value="<%=sleep.numberOfMinutesOfExercise%>" />
        <label for="drowsey">Where you drowsy today?:</label>
        <input type="Boolean" name="drowsey" value="<%=sleep.drowsey%>" />
        <label for="overallMoodToday">What was your overall mood today?:</label>
        <input type="text" name="overallMoodToday" value="<%=sleep.overallMoodToday%>" />
        <label for="oneHourBeforeBed">What did you do one hour before bed?</label>
        <input type="text" name="oneHourBeforeBed" value="<%=sleep.oneHourBeforeBed%>" />
        <label for="medication">Did you take any medication today?</label>
        <input type="Boolean" name="medication" value="<%=sleep.medication%>" />
        <label for="stressLevel">What is your level of stress?</label>
        <input type="string" name="stressLevel" value="<%=sleep.stressLevel%>" />
        <input type="submit" name="" value="Update" />
    </form>
    </body>
</html>

