<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style.css">
    <style>
        .show-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        body {
            background-color: rgb(246, 216, 246);
        }
        
    </style>

</head>

<body>
    <h1>show page</h1>
    <div class="show-container">
         <%= sleep.wokeupTime %></br>
        <%= sleep.numberOfSleepHours %></br>
         <%= sleep.difficultyFallingAsleep %></br>
        <%= sleep.numOfTimesWokenup %></br>
        <%= sleep.morningFeeling %></br>
        <%= sleep.qualityOfSleep%></br>
         <%= sleep.asleepTime %></br>
        <%= sleep.nap %></br>
        <%= sleep.numberOCaffeineDrinks%></br>
        <%= sleep.numberOfMinutesOfExercise %></br>
        <%= sleep.drowsey %></br>
        <%= sleep.overallMoodToday %></br>
        <%= sleep.medication %></br>
        <%= sleep.oneHourBeforeBed %></br>
        <%= sleep.stressLevel %></br>
        <%= sleep.dreams %></br>
    </div>

</body>

</html>