<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style.css">
    <style>
        .show-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        body {
            background-color: rgb(246, 216, 246);
        }
        
    </style>

</head>

<body>
    <h1>show page</h1>
    <div class="show-container">
        <h2><%=sleep.wokeupTime %></h2>
        <h2><%=sleep.numberOfSleepHours %></h2>
        <h2><%=sleep.difficultyFallingAsleep%></h2>
        <h2><%=sleep.numOfTimesWokenup%></h2>
        <h2><%=sleep.morningFeeling%></h2>
        <h2><%=sleep.qualityOfSleep%></h2>
        <h2><%=sleep.asleepTime%></h2>
        <h2><%=sleep.nap%></h2>
        <h2><%=sleep.numberOCaffeineDrinks%></h2>
        <h2><%=sleep.numberOfMinutesOfExcercise%></h2>
        <h2><%=sleep.drowsey%></h2>
        <h2><%=sleep.overallMoodToday%></h2>
        <h2><%=sleep.medication%></h2>
        <h2><%=sleep.oneHourBeforeBed%></h2>
        <h2><%=sleep.stressLevel%></h2>
        <h2><%=sleep.dreams%></h2>
    </div>
    <button ><a href="/sleep">Go Home</a></button>
</body>

</html>
